@(hackFest: List[EventHack], metaForm: Form[EventHack])

@main("Hackfest") {
<meta charset="utf-8">
<div class="jumbotron">
	<div class="container">
		<h1>Hack</h1>
		<p>Descrição geral</p>
		<button class="btn btn-success">Criar Evento</button>
	</div>
</div>
<div class="container">
	<div class="row">
	@if(hackFest.size() == 0){
	<div class="col-md-12">
		<div class="alert alert-success">
		<h2>Não há nenhum evento registrado</h2>
		</div>
	</div>
	
	}else{
	@for(listHack <- hackFest){
		<div class="col-md-4">
			<div class="alert alert-info">
				<h4>@listHack.getTitleHack()</h4>
				<p>@listHack.getParticipantes().size() participantes - <b>@listHack.getDate()</b></p>
			</div>
			<p>@listHack.getDescription()</p>
			<button class="btn btn-info">Mais informações</button>
			<button class="btn btn-success">Cadastrar-se</button>
		</div>
		}}
	</div>

</div>


}
